[Unit]
Description=Capstone Serial To ACME
After=capstone-tree.service
Requires=capstone-tree.service

[Service]
Type=simple
User=raaid
WorkingDirectory=/home/raaid/Desktop/capstone2
ExecStart=/home/raaid/Desktop/capstone2/systemd/run_serial_to_acme.sh
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
